@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* whole site bg color */
body {
    background-color: #ebebeb !important;
}

/* nav bar bg color */
.nextra-nav-container {
    background-color: #ebebeb !important;
}
.nextra-nav-container-blur {
    background-color: #ebebeb !important;
    /* --tw-shadow: none !important; */
}

/* sidebar active button color */
.nextra-sidebar-container .nx-bg-primary-100 {
    --tw-bg-opacity: 1;
    background-color: #dedede !important;
}
